body {
  height: 100% !important;
}

#orderlist {
  height: 440px;
}

.page-fill {
  height: calc(100vh - 80px);
  overflow: auto;
}

@media screen and (max-width: 960px) {
  .page-fill {
    height: calc(100vh - 56px);
  }
}

@media screen and (max-width: 600px) {
  .page-fill {
    height: auto;
  }
}

.full-page {
  height: 100vh;
  overflow: auto;
}

.full-page md-content {
  height: calc(100vh - 128px);
}

.sidenav-size {
  width: 320px;
}
